/* --------------------------------- BACKGROUNDS -------------------------------------- */
html, body {
	margin: 0;
	padding:0;
	height: 100%;
}

#App_background {
	/* float: top;*/
	background-image: url(/static/img/dark_leather.png);
	width: 100%;
	height: 100%;
	margin-top:0;
}


.Title_background {
	/* float: top; */
	margin-top: 10;
	padding: 10px;
	padding-top: 20px;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	/* color: grey; */
	text-align: center;
	opacity: 0.25;
	width: 100%;
	height: 80px;

}

.Text_background {
	-moz-border-radius: 15px 15px;
	-webkit-border-radius: 15px 15px;
	border-radius: 15px 15px;
	-moz-box-shadow: 5px 5px 15px 2px;
	-webkit-box-shadow: 5px 5px 15px 2px;
	box-shadow: 5px 5px 15px 2px;
	margin-top: 150px;
	padding: 30px;
	text-align: center;
	background-color: #E5E5C9;
	opacity: 0.3;
	/*z-index: 1000;*/
	/*width: 40%;*/
}

.container {
	/*background-color: white;
	opacity: 0.5;
	z-index: -1;*/
	width: 40%;
}

/* ------------------------------------ ELEMENTS ------------------------------------- */

h1 {
	margin-top: 0;
	padding: 10px;
	font-family: 'Quando';
	font-size: 3.5em;
}
a h1 {
	color: #5572A0
}


a {
	color: #273454;
}

a:hover {
	cursor: pointer;
	color: #0088CC;
	text-decoration: none;
}

a:hover h1 {
	color:#53EDDD;
}

ul {
	list-style-type: none;
}

.second {
	display: none;
}

.third {
	display: none;
}

.fourth {
	display: none;
}

.fifth {
	display: none;
}

.sixth {
	display: none;
}
.sixth .answer1 {
	display: none;
}
.sixth .answer2 {
	display: none;
}
.sixth .answer3 {
	display: none;
}
.sixth .answer4 {
	display: none;
}

.footer {
	text-align: center;
	float: bottom;
	margin-top: 10%; 
	padding-bottom: 20px;
}
