/* --------------------------------- BACKGROUNDS -------------------------------------- */

#App_background {
	float: top;
	background-image: url(/static/img/dark_leather.png);
	width: 100%;
	height: 100%;
}


.Quote_background {
	float: top;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	color: grey;
	text-align: center;
	opacity: 0.25;
	width: 100%;
}

.Text_background {
	border-radius: 15px 15px;
	box-shadow: 5px 5px 15px 2px;
	margin-top: 50px;
	padding: 30px;
	text-align: center;
	background-color: grey;
	opacity: 0.65;
}

/* ------------------------------------ ELEMENTS ------------------------------------- */

/* ----------- navbar ----------- */
.navbar {
	/*position: float;*/
	float: top;
	background-color: grey;
	text-align: center;
	width: 100%;
}

.in_navbar {

}

h1 {
	margin-top: 0px;
	padding: 10px;
}

a {
	color: #273454;
}

a:hover {
	cursor: pointer;
	color: #0088CC;
	text-decoration: none;
}

.container{
	width: 40%;
}

.second {
	display: none;
}

.third {
	display: none;
}

.fourth {
	display: none;
}

.fifth {
	display: none;
}

.sixth {
	display: none;
}
.sixth .answer1 {
	display: none;
}
.sixth .answer2 {
	display: none;
}
.sixth .answer3 {
	display: none;
}
.sixth .answer4 {
	display: none;
}

.footer {
	text-align: center;
	float: bottom;
	margin-top: 20%;
	padding-bottom: 20px;
}