/* --------------------------------- BACKGROUNDS -------------------------------------- */

.App_background {
	/*border: 2px solid green;*/
	background-image: url(/static/img/dark_leather.png);
	/*width: 100%;*/
	height: 2000px;

}

.Quote_background {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	color: grey;
	text-align: center;
	opacity: 0.2;
}

.Text_background {
	/*border: 1px solid red;*/
	border-radius: 15px 15px;
	box-shadow: 5px 5px 15px 2px;
	margin-top: 50px;
	padding: 30px;
	text-align: center;
	background-color: grey;
	
}

/* ------------------------------------ ELEMENTS ------------------------------------- */

/* ----------- navbar ----------- */
.navbar {
	position: float;
	background-color: grey;
	/*border: 1px solid blue;*/
	text-align: center;
}

.in_navbar {

}

h1 {
	margin-top: 0px;
	padding: 10px;
}

a {
	color: black;
}

a:hover {
	cursor: pointer;
	color: #0088CC;
	text-decoration: none;
}

.second {
	display: none;
}

.third {
	display: none;
}

.fourth {
	display: none;
}

.fifth {
	display: none;
}

.sixth {
	display: none;
}
.sixth .answer1 {
	display: none;
}
.sixth .answer2 {
	display: none;
}
.sixth .answer3 {
	display: none;
}
.sixth .answer4 {
	display: none;
}