{% extends "layout.html" %}

{% block body %}
<div class="background_body">

    <div class="title">  

    	<h1> Welcome to <em>MEDIUM</em> </h1>
		<h4>A prediction web app</h4>

    </div>


    <div class="form">

        <h3> What is your name ? </h3>
 
        <div class="get_name">
        	<form action="{{url_for("intro")}}" method="POST">
        		<input type="text" name="name"></input>
                <input type="submit" value="Submit" class="btn"></input>
        	</form>
        </div>

    </div>

</div>
{% endblock %}

