{% extends "layout.html" %}

{% block body %}
<div class="App_background">

	<div class="navbar">  
		<div class="navbar-inner">
			<h1><em>MEDIUM</em></h1>
		</div>
	</div>


	<div class="Quote_background">
		<h4><em>
			'[...] Even the wisest can not tell <br>
			 for the mirror shows many things; <br>
			 things that were, things that are, <br>
			 and even some things that will be'
		</em></h4>
		<p> Galadriel, LOTR </p>
	</div>


	<div class="container">

		<div class="intro">
			<h3>
				Hello {{ name }}! <br>
				I will predict your future. <br>
				Please, answer the following questions. <br>
			</h3>
		</div>


		<div class="btn_toquestion1">
			<a class="btn" href="{{url_for("to_q1")}}"> To questions </a>
		</div>

	</div>


</div>
{% endblock %}
