<!doctype html>

<html>
	<head>

		<meta charset="UTF-8">
		<title> Useless App </title>
				
		<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="static/css/medium.css" type="text/css">	
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src=" {{ url_for('static', filename='jquery/medium.js') }}"></script> 

	</head>

	<body>


			
		{% block body %}{% endblock %}
			
		
		
	</body>
</html>
