<!doctype html>

<html manifest="medium.appcache">
	<head>

		<meta charset="UTF-8">
		<title> Useless App </title>
				

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src=" {{ url_for('static', filename='js/medium.js') }}"></script>

		<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" type="text/css">
		<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="static/css/medium.css" type="text/css">	
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cinzel+Decorative:700">	

	</head>

	<body>


			
		{% block body %}{% endblock %}
			
		
		
	</body>
</html>
