{% extends "layout.html" %}

{% block body %}
<div class="App_background">

	<div class="navbar">  
		<div class="navbar-inner">
			<h1><em>MEDIUM</em></h1>
		</div>
	</div>


	<div class="Quote_background">
		<h4><em>
			'[...] Even the wisest can not tell <br>
			 for the mirror shows many things; <br>
			 things that were, things that are, <br>
			 and even some things that will be'
		</em></h4>
		<p> Galadriel, LOTR </p>
	</div>


	<div class="container">

		<div class="question">
			<h3>
				What is your favorite pattern?
			</h3>
		</div>


		<div class="get_answer2">
			<form action="{{url_for("to_q3")}}" method="POST">
				<li>
					<ul> stripes  <input type="checkbox" name="answer2a"></input></ul>
					<ul> dots  <input type="checkbox" name="answer2b"></input></ul>
				</li>
				<input type="submit" value="Next" class="btn"></input>
			</form>
		</div>

	</div>

</div>
{% endblock %}
